flake8>=4.0;python_version>="3.6"
flake8>=3.0,<4.0;python_version<="2.7"
flake8-commas>=2.1
flake8-quotes<=3.2;python_version<="2.7"
flake8-quotes>=3.3;python_version>="3.6"
pytest-cov>=3.0;python_version>="3.6"
